{% extends 'base.html' %}

{% block title %}Animales Exóticos{% endblock %}

{% block content %}
<div class="text-center">
  <h2 class="fw-bold text-dark">Animales Exóticos del Mundo</h2>
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/originals/c6/e9/4f/c6e94f8c34d863832408847e59cf515d.gif" class="card-img-top" alt="Axolotl">
        <div class="card-body">
          <h5 class="card-title">Axolotl</h5>
          <p class="card-text">Amfíbio mexicano con poderes de regeneración únicos.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/originals/ce/f8/15/cef815a8bea4f0a8674264eb3adc5e46.gif" class="card-img-top" alt="Dragón de Komodo">
        <div class="card-body">
          <h5 class="card-title">Dragón de Komodo</h5>
          <p class="card-text">El lagarto más grande del mundo, nativo de Indonesia.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/originals/13/f1/00/13f100192ef381968b0680eca705c9fb.gif" class="card-img-top" alt="Okapi">
        <div class="card-body">
          <h5 class="card-title">Okapi</h5>
          <p class="card-text">Mamífero africano con cuerpo de jirafa y patas de cebra.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/originals/b8/20/e3/b820e3f175ae06c871974ea2693a650f.gif" class="card-img-top" alt="Pato mandarín">
        <div class="card-body">
          <h5 class="card-title">Pato Mandarín</h5>
          <p class="card-text">Ave asiática con plumaje colorido y elegante.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/06/95/f7/0695f7a719e396bbabad5f28287a5a4a.jpg" class="card-img-top" alt="Lobo de crin">
        <div class="card-body">
          <h5 class="card-title">Lobo de Crin</h5>
          <p class="card-text">Canino sudamericano con patas largas y pelaje rojizo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/a5/1c/ab/a51cab892edc547ccebc511f76775cce.jpg" class="card-img-top" alt="Rana de cristal">
        <div class="card-body">
          <h5 class="card-title">Rana de Cristal</h5>
          <p class="card-text">Su piel transparente deja ver sus órganos internos.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/6e/03/f0/6e03f023cfd85276f2a30d1df5f6a2be.jpg" class="card-img-top" alt="Picozapato">
        <div class="card-body">
          <h5 class="card-title">Picozapato</h5>
          <p class="card-text">Ave africana con pico gigante en forma de zapato.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/736x/7f/ab/3d/7fab3db8aab257ddf38ac75220053c49.jpg" class="card-img-top" alt="Mono narigudo">
        <div class="card-body">
          <h5 class="card-title">Mono Narigudo</h5>
          <p class="card-text">Primates de Borneo con nariz prominente y cuerpo rojizo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/73/40/9a/73409afa58e45f47f77c7d043a1cb1eb.jpg" class="card-img-top" alt="Dragón de mar">
        <div class="card-body">
          <h5 class="card-title">Dragón de Mar</h5>
          <p class="card-text">Pariente del caballito de mar con aspecto de hoja flotante.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/736x/f3/0e/9d/f30e9dd8056149bb3b868d208cbe62fd.jpg" class="card-img-top" alt="Fosa">
        <div class="card-body">
          <h5 class="card-title">Fosa</h5>
          <p class="card-text">Depredador de Madagascar parecido a un felino ágil.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}