{% extends 'base.html' %}

{% block title %}Vehículos Antiguos{% endblock %}

{% block content %}
<div class="text-center">
  <h2 class="fw-bold text-dark">Vehículos Antiguos y Clásicos</h2>
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/b7/b7/8d/b7b78d05b09baccb00f7adb2ee30d4f0.jpg" class="card-img-top" alt="Chevrolet Bel Air 1957">
        <div class="card-body">
          <h5 class="card-title">Chevrolet Bel Air 1957</h5>
          <p class="card-text">Un ícono del diseño americano de los años 50.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/77/75/f5/7775f5d60cfce83d5fac5d221b5e3deb.jpg" class="card-img-top" alt="Ford Model T">
        <div class="card-body">
          <h5 class="card-title">Ford Model T</h5>
          <p class="card-text">El primer auto producido en masa, revolucionó la industria.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/736x/af/ce/d5/afced5522a1331112e299dc3b727ad56.jpg" class="card-img-top" alt="Volkswagen Beetle">
        <div class="card-body">
          <h5 class="card-title">Volkswagen Beetle</h5>
          <p class="card-text">El famoso “Vocho”, amado en todo el mundo por su estilo único.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/736x/35/94/ab/3594ab9eea0adb961bea04fc89339d51.jpg" class="card-img-top" alt="Citroën 2CV">
        <div class="card-body">
          <h5 class="card-title">Citroën 2CV</h5>
          <p class="card-text">Compacto francés diseñado para ser económico y resistente.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/a0/7e/cf/a07ecfb9a5fb16bbc006c9bbf08092b4.jpg" class="card-img-top" alt="Mercedes-Benz 300SL">
        <div class="card-body">
          <h5 class="card-title">Mercedes-Benz 300SL</h5>
          <p class="card-text">Famoso por sus puertas tipo “alas de gaviota”.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/19/33/c2/1933c204b6e497c070c5c767616bb5a6.jpg" class="card-img-top" alt="Porsche 356">
        <div class="card-body">
          <h5 class="card-title">Porsche 356</h5>
          <p class="card-text">El primer auto de producción de Porsche, elegante y deportivo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/64/57/df/6457df7f7ce51ae3c55378555e27dcce.jpg" class="card-img-top" alt="Peugeot 403">
        <div class="card-body">
          <h5 class="card-title">Peugeot 403</h5>
          <p class="card-text">Popular en Europa, conocido por su durabilidad y estilo clásico.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/5f/6c/4b/5f6c4b78826f5a57d25b6ab997326acf.jpg" class="card-img-top" alt="Cadillac Eldorado">
        <div class="card-body">
          <h5 class="card-title">Cadillac Eldorado</h5>
          <p class="card-text">Lujo americano con aletas traseras icónicas.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="https://i.pinimg.com/1200x/08/36/ec/0836ec3edede5da8ceb8861d611bf8b6.jpg" class="card-img-top" alt="Fiat 500">
        <div class="card-body">
          <h5 class="card-title">Fiat 500</h5>
          <p class="card-text">Pequeño y encantador, símbolo de la movilidad italiana.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}